.App {
  font-family: sans-serif;
  text-align: center;
  touch-action: none;
}

.Container {
  width: 100%;
}

.list {
  background: lightgreen;
  width: 20%;
  float: left;
}
.secondColumn {
  float: right !important;
}
.Container {
  background: grey;
  padding-top: 10px;
  padding-bottom: 10px;
}

#left div,
#right div,
#last div,
#middle div,
.list div {
  border: 1px pink solid;
  padding: 10px;
  background: coral;
  color: white;
  margin: 10px;
  cursor: pointer;
}

.gu-mirror {
  background: purple;
  cursor: pointer;
}
