.App {
  font-family: sans-serif;
  text-align: center;
}

.Container {
  width: 100%;
}

#left {
  background: lightgreen;
  width: 25%;
  float: left;
}

#right {
  background: lightyellow;
  width: 25%;
  float: right;
}
#last {
  background: lightyellow;
  width: 25%;
  float: right;
}
#middle {
  background: lightyellow;
  width: 25%;
  float: right;
}

.Container {
  background: grey;
  padding-top: 10px;
  padding-bottom: 10px;
}

#left div,
#right div,
#last div,
#middle div {
  border: 1px pink solid;
  padding: 10px;
  background: coral;
  color: white;
  margin: 10px;
  cursor: pointer;
}

.gu-mirror {
  background: purple;
  cursor: pointer;
}
